# TP NoSQL

Prénom : Rayan

Nom : Ben Yacoub

Pour ce TP noté vous avez trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [5]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [6]:
import pymongo
import pandas as pd

URI ='mongodb+srv://user_mongo:r5yroJGqJwOEh6Em@cluster-but-sd.7z6bi.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'movies', 'airbnb']

1. Combien de films sont dans la base de données ?

In [45]:

 
nombre_de_films = db.movies.count_documents({})
print(f" le nombre de films dans la base de données est égal à {nombre_de_films}")

 le nombre de films dans la base de données est égal à 23530

2. Quel est le nombre moyen de votes par pays ? Trier les pays par nombre moyen de votes décroissant.

In [224]:


nb_votes_moyen= list(db.movies.aggregate([
    {"$unwind": "$countries"},  
    {"$group": {
        "_id": "$countries",  
        "La moyenne des votes": {"$avg": "$imdb.votes"}  
    }},
    {"$sort": {"La moyenne des votes": -1}}  
]))

nb_votes_moyen = pd.DataFrame(nb_votes_moyen)
print(f" le nombre moyen de votes par pays  est égal à ")
print(nb_votes_moyen)

 le nombre moyen de votes par pays  est égal à
                      _id  La moyenne des votes
0                   Malta         210571.800000
1                 Bahamas         206061.000000
2             New Zealand          66589.269231
3    United Arab Emirates          53495.833333
4                     USA          35016.703663
..                    ...                   ...
153                Kosovo            104.500000
154               Moldova            104.000000
155           North Korea             92.666667
156                Brunei             51.000000
157               Vanuatu              6.000000

[158 rows x 2 columns]

3. Donner la liste des différents genres de films.

In [79]:

genres_films = db.movies.distinct("genres")
print(" les différents genres de films  sont :", genres_films)

 les différents genres de films  sont : ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']

4. Combien de films ont une note IMDb supérieure à 8 ?

In [83]:
nb_films_note_sup_8 = db.movies.count_documents({"imdb.rating": {"$gt": 8}})  
print(" le Nombre de films avec une note IMDb supérieure à 8 est de :", nb_films_note_sup_8 )

 le Nombre de films avec une note IMDb supérieure à 8 est de : 1177

5. Afficher le titre, l'année de sortie et les réalisateurs de tous les films (ne pas afficher l'ID).

In [210]:

films = db.movies.find(
    {},  
    {"_id": 0, "title": 1, "year": 1, "directors": 1}  
)


films_df = pd.DataFrame(list(films))


print("Le titre, l'année de sortie et les réalisateurs des films sont :")
print(films_df)

Le titre, l'année de sortie et les réalisateurs des films sont :
                                                  title  \
0      Intolerance: Love's Struggle Throughout the Ages
1                             The Poor Little Rich Girl
2                                               The Kid
3                                        Miss Lulu Bett
4                                          Safety Last!
...                                                 ...
23525                                            Emelie
23526                                    Techo y comida
23527                                             Nahid
23528                                  Coin Locker Girl
23529                                 Tryapichnyy soyuz

                            directors  year
0                     [D.W. Griffith]  1916
1                  [Maurice Tourneur]  1917
2                   [Charles Chaplin]  1921
3               [William C. de Mille]  1921
4      [Fred C. Newmeyer, Sam Taylor]  1923
...                               ...   ...
23525                [Michael Thelin]  2015
23526      [Juan Miguel del Castillo]  2015
23527                [Ida Panahandeh]  2015
23528                   [Jun-hee Han]  2015
23529            [Mikhail Mestetskiy]  2015

[23530 rows x 3 columns]

6. Afficher le titre et le plot des films réalisés par D.W. Griffith.

In [208]:

films_griffith = db.movies.find(
    {"directors": "D.W. Griffith"},  
    {"_id": 0, "title": 1, "plot": 1} 
)
films_griffith_df = pd.DataFrame(list(films_griffith))
print("Le titre et le plot des films réalisés par D.W. Griffith sont :")
print(films_griffith_df)

Le titre et le plot des films réalisés par D.W. Griffith sont :
                                                plot  \
0  The story of a poor young woman, separated by ...
1  A greedy tycoon decides, on a whim, to corner ...
2  A frail waif, abused by her brutal boxer fathe...
3  The Civil War divides friends and destroys fam...

                                              title
0  Intolerance: Love's Struggle Throughout the Ages
1                                 A Corner in Wheat
2    Broken Blossoms or The Yellow Man and the Girl
3                             The Birth of a Nation

7. Quels sont les 5 acteurs les plus populaires (ceux qui ont joué dans le plus de films) ?

In [216]:
 acteurs=db.movies.aggregate([
        {
            "$unwind": "$cast"
        },
        {
            "$group": {
                "_id": "$cast",
                "nombre_films": {"$sum" :1}
            }
        },
        {
            "$sort": {"nombre_films": -1}
        },
        {
            "$limit": 5
        }
    ])
print(f" les 5 acteurs les plus populaires :")
pd.DataFrame(list(acteurs))

 les 5 acteurs les plus populaires :

                    _id  nombre_films
0      Gèrard Depardieu            68
1        Robert De Niro            60
2         Michael Caine            52
3  Marcello Mastroianni            50
4         Max von Sydow            49

##### 8. Quelles sont les 6 années avec le plus de films produits ?

In [214]:
annees_plus_films = db.movies.aggregate([
    {
        "$group": {
            "_id": "$year",  
            "nombre_films": {"$sum": 1}  
        }
    },
    {
        "$sort": {"nombre_films": -1}  
    },
    {
        "$limit": 6 
    }
])


result = pd.DataFrame(list(annees_plus_films))
result = result.rename(columns={"_id": "Année"}) 

print(f"Les 6 années avec le plus de films produits sont :")
print(result)

Les 6 années avec le plus de films produits sont :
   Année  nombre_films
0   2013          1220
1   2014          1147
2   2012          1109
3   2011          1040
4   2009           990
5   2010           970

9. Combien de films ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 ?

In [187]:
films_sup_7 = db.movies.aggregate([
    {
        "$match": {
            "year": {"$lt": 2000},  
            "imdb.rating": {"$gt": 7}  
        }
    },
    {
        "$group": {
            "_id": None,  
            "nombre_films": {"$sum": 1}  
        }
    }
])


nombre_films = list(films_sup_7)[0]['nombre_films']  

print(f"Le nombre de films réalisés avant 2000 avec une note IMDb supérieure à 7 est : {nombre_films}")

Le nombre de films réalisés avant 2000 avec une note IMDb supérieure à 7 est : 4747

10. Donner les 20 réalisateurs qui ont réalisé le plus de films (afficher seulement leur nom et le nombre de films).

In [181]:

pipeline = [
    {"$unwind": "$directors"},  
    {"$group": {
        "_id": "$directors",  
        "nombre_de_films": {"$sum": 1}  
    }},
    {"$sort": {"nombre_de_films": -1}}, 
    {"$limit": 20}  
]
top_réalisateurs = list(db.movies.aggregate(pipeline))
top_réalisateurs_df = pd.DataFrame(top_réalisateurs)
top_réalisateurs_df.columns = ['Réalisateur', 'Nombre de films']
print("Les 20 réalisateurs ayant réalisé le plus de films sont :")
print(top_réalisateurs_df)

Les 20 réalisateurs ayant réalisé le plus de films sont :
          Réalisateur  Nombre de films
0         Woody Allen               40
1           John Ford               35
2       Takashi Miike               34
3         John Huston               34
4       Werner Herzog               33
5     Martin Scorsese               32
6    Alfred Hitchcock               31
7        Sidney Lumet               30
8       Michael Apted               29
9     Mario Monicelli               29
10       George Cukor               29
11   Steven Spielberg               29
12  Steven Soderbergh               28
13          Spike Lee               28
14      Robert Altman               28
15    Jean-Luc Godard               27
16          Ken Loach               27
17        Wim Wenders               27
18     Clint Eastwood               27
19         Johnnie To               27

11. Quelle est la note IMDb moyenne des films sortis après 2010 ?

In [163]:
pipeline = [
    {"$match": {"year": {"$gt": 2010}}},  
    {"$group": {
        "_id": None,  
        "imdb_note_moyenne": {"$avg": "$imdb.rating"}  
    }}
]
imdb_note_moyenne = list(db.movies.aggregate(pipeline))
if imdb_note_moyenne:
    print("La note IMDb moyenne des films sortis après 2010 est :", imdb_rating_moyenne[0]['imdb_rating_moyenne'])
else:
    print("Aucun film trouvé.")

La note IMDb moyenne des films sortis après 2010 est : 6.544033171521035

12. (bonus) Afficher les films dont le titre contient le mot "love".

In [226]:
films_love = db.movies.aggregate([
    {
        "$match": {"title": {"$regex": "^love", "$options": "i"}}  
    },
    {
        "$project": {
            "_id": 0, 
            "title": 1 
        }
    }
])

result = pd.DataFrame(list(films_love))
print(f"Les films dont le titre contient le mot 'love' sont :\n{result['title']}")

Les films dont le titre contient le mot 'love' sont :
0                Love Finds Andy Hardy
1                      Love Me Tonight
2                     Love on the Dole
3      Love Is a Many-Splendored Thing
4                  Love Me or Leave Me
                    ...
123                Love at First Fight
124                        Love Steaks
125          Love Is the Perfect Crime
126                          Lovemilla
127                               Love
Name: title, Length: 128, dtype: object

13. (bonus) Afficher le titre des films ayant un score Rotten Tomatoes (viewer) supérieur à 75.

Aucun film trouvé avec un score Rotten Tomatoes (viewer) supérieur à 75.